* {
    font-family: 'Footlight MT Light';
}
header {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    color: red;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 9999;
}
header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
header a {
    font-size: 20px;
    color: red;
    text-decoration: none;
    padding: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu-button, .dropdown-nav {
    display: none;
}
.logo {
    height: 80px;
}

.container {
    display: flex;
    padding-top: 95px;
    background-color: lightgreen;
}

.reservationInfo input::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.reservationInfo label, .hide-label {
    display: inline-block;
    margin-bottom: 5px;
}

.info {
    width: 50%;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}

.info.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.reservationInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.reservationInfo label {
    width: 30%;
    margin: 0;
    font-size: 14px;
}
.reservationInfo input, #date, #dropdownTime, #dropdown0, #dropdown1, #dropdown2, #numOfGuest  {
    width: 100%;
    margin: 0;
    padding: 10px;
}

.checkbox {
    text-align: left;
    width: auto;
    align-content: center;
}

.popup, .popup2 {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.popup-content, 
.popup-content2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    position: relative;
    color: black;
}

.close-btn, .close-btn2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus, .close-btn2:hover,
.close-btn2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.confirm {
    padding: 10px;
    font-size: 20px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center; 
    transition: all 0.5s ease;
    width: 200px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirm:hover {
    background-color: green;
    color: white;
}

.backgroundphoto {
    background-image: url('../img/bg01.jpg'); /* Path to your background image */
    background-size: cover; /* Scale the image to cover the container */
    background-position: center; /* Center the image in the container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
    margin: 0;
    width: 70%;
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Initially positioned below */
    transition: all 0.9s ease-out;
}

.backgroundphoto.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

a:hover {
    color: green;
}

.tac, .eventtac {
    cursor: pointer;
    text-decoration: underline;
}

.tac:hover, .eventtac:hover {
    color: red;
}

.container2 {
    padding: 30px;
    display: flex;
    background-color: #ff0000;
}
.content {
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}

.content p {
    font-size: 24px;
}

.content.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.container3 {
    height: auto;
}
.container3 .container3-content h1 {
    font-size: 50px;
    text-align: left;
}
.container3 .container3-content {
    margin-left: 100px;
    margin-right: 100px;
    color: green;
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}
.container3 .container3-content.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}
.container3 .container3-content .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}
.container3 .container3-content .gallery-item {
    overflow: hidden;
}
.container3 .container3-content .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}
.container3 .container3-content .gallery-item img.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}
.container3 .container3-content .gallery-item:hover img {
    transform: scale(1.1);
    object-fit: cover;
    border-radius: 5px;
}
.container4 {
    padding: 100px;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.comment-box {
    width: 100%;
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
    font-family: 'Footlight MT Light';
}
.comment-box.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}
.comment-box input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Footlight MT Light';
}
.comment-box textarea {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.comment-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
}
.comments-list {
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}
.comments-list.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}
.comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
}
.comment .profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-image {
    width: 300px;
    height: auto;
    padding: 10px;
}
.comment-details {
    display: flex;
    flex-direction: column;
}
.comment-details .name {
    font-weight: bold;
}
.comment-details .date-time {
    font-size: 0.8em;
    color: #555;
}

.container5 {
    padding: 70px;
    text-align: center;
    font-size: 30px;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}
.container5.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}
.container5 ul li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}
.container5 ul a {
    text-decoration: none;
    color: black;
}
.contactinfo {
    width: 50px;
    margin-right: 20px;
}
.container6 {
    position: relative;
    height: 150vh;
    overflow: hidden;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
    transition: all 0.5s ease-out;
}
.loginpage {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.loginpage:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.container6.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.container6-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg01.jpg'); /* Path to your background image */
    background-size: cover; /* Scale the image to cover the container */
    background-position: center; /* Center the image in the container */
    filter: blur(5px); /* Blur effect */
    z-index: 1;
}
.container6 h3{
    font-size: 26px;
}
.container6 p {
    font-size: 20px;
}
.container6-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.container6-content3 {
    position: relative;
    z-index: 2;
    color: white; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
    text-shadow: 1px 1px black;
}
.staffphoto {
    height: 200px;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

.loading-screen {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.loading-screen .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    margin-top: 25%;
    margin-left: 47.5%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}


/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1000px) {
    .logo {
        height: 50px;
    }
    header .nav {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    /* Basic styling for the menu button */
    .menu-button {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        display: block;
    }
    .menuLogo, .none {
        width: 20px;
    }
    
    .dropdown-nav {
        display: none; 
        position: absolute;
        top: 70px; 
        left: 0;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 4px;
        z-index: 1;
    }
    
    .dropdown-nav a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: red;
        width: 90%;
    }
    
    .dropdown-nav a:hover {
        background-color: #ddd;
    }
    
    .menu-button.active + .dropdown-nav {
        display: block;
    }
    
    .container {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        padding-top: 50px;
    }
    .info {
        width: 90%;
        padding: 20px;
        height: 100%;
        margin: 0;
    }
    #reservationForm {
        display: flex;
        flex-direction: column;
    }
    .reservationInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .reservationInfo label {
        width: 30%;
        margin: 0;
        font-size: 14px;
    }
    .reservationInfo input, #date, #dropdownTime, #dropdown0, #dropdown1, #dropdown2, #numOfGuest  {
        width: 100%;
        margin: 0;
    }
    .reservationInfo .hide-label {
        display: none;
    }
    
    .reservationInfo input::placeholder {
        opacity: 1;
    }
    .backgroundphoto {
        height: 30vh;
        width: 100%;
    }
    .confirm {
        font-size: 14px;
        width: auto;
    }
    .container2 {
        padding: 0;
        min-width: 95%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    .content {
        margin: 0;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .content h1 {
        font-size: 24px;
    }
    .content p {
        font-size: 16px;
    }
    .content p, .content h1 {
        margin: 50px 50px 0 50px;
    }
    iframe {
        width: 90%;
        border-radius: 30px;
    }
    .container3 {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container3 .container3-content {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .container3 .container3-content h1 {
        font-size: 32px;
    }
    .container3 .container3-content .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .container4 {
        width: 100%;
        align-items: center;
        padding: 0;
        padding-top: 40px;
    }
    .comment-box {
        width: 90%;
        padding: 20px;
        margin: 0;
    }  
    .comment-box input, .comment-box textarea {
        width: 90%;
    }
    .container5 {
        padding: 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
    }
    .container5 h3 {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    .container5 ul li {
        font-size: 14px;
        padding: 10px;
        text-align: left;
    }
    .container5 ul li img {
        width: 30px;
        margin: 0;
        margin-right: 10px;
    }
    .container6 {
        height: 100%;
    }
    .container6-content1 {
        flex-direction: column;
    }
    .staffphoto {
        height: 100px;
    }
    .container6 h3{
        font-size: 20px;
    }
    .container6 p {
        font-size: 14px;
    }
    .container6-content1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container6-content2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        padding-bottom: 20px;
    }
    .container6-content2 div {
        width: 60%;
    }
    .container6-content2 h1{
        font-size: 30px;
    }
}